<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
	Prénom:<br>
    <%= f.text_field :firstname, class: "form-control" %>
  </div>
  <div class="form-group">
    Nom:<br>
    <%= f.text_field :lastname, class: "form-control" %>
  </div>
  <div class="form-group">
    Email:<br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    Média:<br>
    <%= f.collection_select :medium_id, Medium.all, :id, :name, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    Rôle:<br>
    <%= f.collection_select :role, ["admin", "author"], :to_s, :to_s, {include_blank: false}, {class: "form-control"} %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
