<h1>Modifier un utilisateur</h1>

<%= render 'form' %>

<%= form_tag("/users/#{@user.id}/reset_password", method: "post") do %>
  <%= submit_tag("Assigner un nouveau mot de passe") %>
<% end %>


<%= link_to 'Afficher', @user %> |
<%= link_to 'Retour', users_path %>
