<p id="notice"><%= notice %></p>

<h1>Catégories</h1>

<% user_is_admin = user_signed_in? && current_user.role == "admin" %>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
	  
	  <% if user_is_admin %>
		<th colspan="3">Actions</th>
	  <% end %>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr scope="row">
        <td><%= category.name %></td>
		
		<% if user_is_admin %>
			<td><%= link_to 'Afficher', category %></td>
			<td><%= link_to 'Modifier', edit_category_path(category) %></td>
			<td><%= link_to 'Supprimer', category, method: :delete, data: { confirm: 'Vraiment?' } %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_is_admin %>
	<%= link_to 'Nouvelle catégorie', new_category_path %>
<% end %>