<p id="notice"><%= notice %></p>

<h2>
  <%= @report.title %>
</h2>

<div>
	<% if @report.user != nil %>
		Rédigé par: <%= @report.user.firstname %> <%= @report.user.lastname %><br />
	<% end %>

	Dernière mise à jour: <%= @report.updated_at.to_formatted_s(:long_ordinal) %><br />
	Catégorie(s):
	<%  i = 0 %>
	<% @report.categories.each do |category| %>
		<%= category.name %>
		<% if i + 1 < @report.categories.size %>
			<%= "," %>
		<% end %>
		<% i += 1 %>
	<% end %>
	<br />
	Source(s):
	<%  i = 0 %>
	<% @report.sources.each do |source| %>
		<%= source.firstname %> <%= source.lastname %>
		<% if i + 1 < @report.sources.size %>
			<%= "," %>
		<% end %>
		<% i += 1 %>
	<% end %>
</div>

<p>
	<strong>
	  <%= @report.head %>
	</strong>
</p>

<p>
	<div>
	  <%= @report.text %>
	</div>
</p>

<% if user_signed_in? && current_user.id == @report.user_id %>
	<%= link_to 'Modifier', edit_report_path(@report) %> |
	<%= link_to 'Retour', reports_path %>
<% end %>