<p id="notice"><%= notice %></p>

<h2>
  <%= @report.title %>
</h2>

<div>
	<% if @report.user != nil %>
		Rédigé par: <%= @report.user.firstname %> <%= @report.user.lastname %><br />
	<% end %>

	Dernière mise à jour: <%= @report.updated_at.to_formatted_s(:long_ordinal) %><br />
	Catégorie(s):
	<% if @report.sources.size < 1 %>
		Aucune catégorie
	<% else %>
		<%  i = 0 %>
		<% @report.categories.each do |category| %>
			<a href="/categories/<%= category.id %>">
			<span class="label label-default">
			<%= category.name %>
			</span>
			</a>
			<% if i + 1 < @report.categories.size %>
				&nbsp;
			<% end %>
			<% i += 1 %>
		<% end %>
	<% end %>
	<br />
	Source(s):
	<% if @report.sources.size < 1 %>
		Aucune source
	<% else %>
		<%  i = 0 %>
		<% @report.sources.each do |source| %>
			<a href="/sources/<%= source.id %>">
			<span class="label label-default">
			<% if source.tyype == "PhysicalSource" %>
				<%= source.firstname %> <%= source.lastname %>
			<% else %>
				<%= source.name %>
			<% end %>
			</span>
			</a>
			<% if i + 1 < @report.sources.size %>
				&nbsp;
			<% end %>
			<% i += 1 %>
		<% end %>
	<% end %>
</div>

<div style="margin-top: 2em;">
	<h4>
		<%= @report.head %>
	</h4>
</div>

<p>
	<div>
	  <%= @report.text %>
	</div>
</p>

<% if user_signed_in? && current_user.id == @report.user_id %>
	<%= link_to 'Modifier', edit_report_path(@report) %> |
	<%= link_to 'Retour', reports_path %>
<% end %>