<script type="text/javascript">
	function sourceTypeChanged(forceType) {
		var index = forceType != null ? forceType : document.getElementById('type').selectedIndex;

		document.getElementById("firstname").style.display = (index == 0 ? 'block' : 'none');
		document.getElementById("lastname").style.display = (index == 0 ? 'block' : 'none');
		document.getElementById("name").style.display = (index == 1 ? 'block' : 'none');
	}
</script>

<%= form_for(@source, remote: true) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Type:<br>
	<select name="source[tyype]" onchange="sourceTypeChanged(null)" id="type">
		<option value="PhysicalSource">Personne physique</option>
		<option value="LogicalSource">Autre entité</option>
	</select>
  </div>
  <div class="field" id="firstname">
   Prénom:<br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field" id="lastname">
    Nom de famille:<br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field" id="name">
    Nom:<br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if @source && !@source.new_record? %>
<script type="text/javascript">
	sourceTypeChanged(<%= @source.tyype == "PhysicalSource" ? 0 : 1 %>);
</script>
<% end %>