<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= (@source.tyype == "PhysicalSource" ? "Personne physique" : "Entité") %>
</p>

<% if @source.tyype == "PhysicalSource" %>
	<p>
	  <strong>Prénom:</strong>
	  <%= @source.firstname %>
	</p>

	<p>
	  <strong>Nom de famille:</strong>
	  <%= @source.lastname %>
	</p>
<% else %>
	<p>
	  <strong>Nom:</strong>
	  <%= @source.name %>
	</p>
<% end %>

<% if user_signed_in? %>
	<%= link_to 'Modifier', "/sources/#{@source.id}/edit" %> |
<% end %>

<%= link_to 'Retour', sources_path %>
